{% load static %}
<!DOCTYPE html>
<html>

<!-- Not done yet -->

<head>
    <title>
        Haz Lazuardi - Home
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Google Fonts for Roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <!-- meta must be included in order for grid auto-fit to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<header>
    <nav class="Navbar">
        <img src="{% static 'img/HazEyesSimple (White).svg' %}" class="NavbarLogo">
        <ul class="NavbarPages">
            <li>
                {% for link,name in nav%}
                <a href="{{link}}">{{name}}</a> {% endfor %}
            </li>

        </ul>
    </nav>
</header>

<body>
    <section class="container-100vh-auto bg-coldgrey">
        <div class="grid-autofit-la flex-ccc ">
            <div class="grid-block-100vh flexrow-ccc">
                <div class="circle-md bg-red">
                    <img src="{% static 'img/Screen Shot 2020-02-05 at 17.56.15.png'%}" width="350px">
                </div>
                <br>
                <br>
                <h2>Wishnu Hazmi Lazuardi</h2>
                <br>
                <p style="font-weight: 200;">Faculty of Computer Science</p>
                <p style="font-weight: 200;">at University of Indonesia</p>
            </div>
            <div class="grid-block-100vh flex-lcl">
                <div class="margin-2em">
                    <h1 class="headline-l" style="font-size: 48px;">A Bit About <span style="color: #ea2340;">Me</span></h1>
                    <br>
                    <br>
                    <p style="font-size: 24px; font-weight: 200;">Wishnu Hazmi is a Photo/Videographer based in Jakarta. He is an award-winning filmmaker and one of the founder of an aspiring production house, Koeles Visual.</p><br>
                    <p style="font-size: 24px; font-weight: 200;">
                        Wishnu Hazmi has won several short movie award like FLS2N and UCIFEST9 Film Festival, both in 2018.
                    </p>
                    </p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <section class=" container-70vh-nopad headline-c bg-white ">
        <br>
        <h1>Education</h1>
        <br>
        <div class="slider-container-la ">
            <div class="slider-container-items-la-nopad bg-smokewhite ">
                <div class="slider-items-la flex-lcl bg-UI ">
                    <div class="margin-2em headline-l ">
                        <p style="font-weight: 100; font-size: smaller;">College</p>
                        <h2>University</h2>
                        <h2>of</h2>
                        <h2>Indonesia</h2>
                    </div>
                    <div class="custom-idcard-container ">
                        <img src="{% static 'img/UI ID Card.svg'%}" width="172" height="auto">
                        <!-- <div class="custom-idcard-top bg-grey ">
                            <br> Universitas
                            <br>Indonesia

                            <br> Kartu Identitas
                            <br>Mahasiswa
                        </div>
                        <div class="custom-idcard-bottom bg-UI ">
                            Wishnu Hazmi
                            <br>1906316793
                            <br>02.00.12.01
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="slider-container-items-la-nopad bg-smansa">
                <div class="slider-items-la flex-lcl bg-grey ">
                    <div class="margin-2em headline-l ">
                        <p style="font-weight: 100; font-size: smaller;">Highschool</p>
                        <h2>SMAN</h2>
                        <h2>1</h2>
                        <h2>Bogor</h2>
                    </div>
                    <div class="custom-idcard-container ">
                        <img src="{% static 'img/SMANSA ID Card.svg' %}" width=" 172 " height="auto ">

                        <!-- <div class="custom-idcard-top bg-grey ">
                            <br> Universitas
                            <br>Indonesia

                            <br> Kartu Identitas
                            <br>Mahasiswa
                        </div>
                        <div class="custom-idcard-bottom bg-UI ">
                            Wishnu Hazmi
                            <br>1906316793
                            <br>02.00.12.01
                        </div> -->
                    </div>
                </div>
            </div>
    </section>


</body>
<footer class="container-50vh-nopad bg-black headline-c flexrow-ccc ">
    <br>
    <br>
    <h1 style="margin: 1em; width:auto ">Contact</h1>
    <br>
    <a style="margin: 1em ">Instagram</a>
    <br>
    <a style="margin: 1em ">Youtube</a>
    <br>
    <a style="margin: 1em ">Gmail</a>
    <br>
    <br>
</footer>


</html>