{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% include 'snippets/style.html' %}

    <title>Document</title>
</head>

<body class="bg-white">
    {% include 'snippets/navbar.html' %}
    <section class=" bg-smokewhite container-100p flexrow-cccl">
        <!-- <div style="height: 6em;"></div> -->
        <div>
            <h1>Tell me more about you!</h1>
            <br><br>
        </div>
        <div class="bg-smokewhite padding-3em neumor-8-u neumor-8-b">
            <form method="POST">
                {% csrf_token %}
                <p>Name:</p>
                {{form.Name}} {{form.error_messages}}
                <br>
                <br>
                <p>Hobby:</p>
                {{form.Hobby}}
                <br>
                <br>
                <p>Favorite Foods and Drinks:</p>
                {{form.Favorite}}
                <br>
                <br>
                <p>Year:</p>
                {{form.Year}}
                <br>
                <br>
                <br>
                <p>Couldn't find your Class Year? Type it.</p>
                <br>
                <p>Year:</p>
                {{form.new_year}}
                <br>
                <br>
                <button type="submit" class="cta-green">Submit</button>
            </form>
        </div>
    </section>


</body>

</html>