{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    {% include 'snippets/style.html' %}

    <title>About Me - Haz Lazuardi</title>
</head>

<body>

    <!-- Navbar -->
    {% include 'snippets/navbar.html' %}

    <!-- Hero -->
    <section class="grid-autofit-la">
        <div class="bg-coldgrey grid-block-100vh-img flexrow-ccc">
            <div class=" bg-coldgrey circle-md margin-2em">
                <img src="{% static 'img/ava2.png' %}" width="100%">
            </div>
            <h3 class="">Wishnu Hazmi</h3>
            <br>
            <p>Faculty of Computer Science 2019
                <br> 1906316793
            </p>
        </div>
        <div class="bg-coldgrey grid-block-100vh-img flexrow-ccc">
            <h1 class="margin-1em">A Bit About Me</h1>
            <p class="margin-1em">Wishnu Hazmi is a Photo/Videographer based in Jakarta. He is an award-winning filmmaker and one of the founder of an aspiring production house, Koeles Visual.</p>
            <br>
            <p class="margin-1em">Wishnu Hazmi has won several short movie awards like FLS2N and UCIFEST9 Film Festival, both in 2018.
            </p>
        </div>
    </section>

    <!-- Education -->
    <section class="bg-white content-container-50vh">
        <div class="slider-text-50vh flex-ccc">
            <h1>Education</h1>
        </div>
        <div class="sliderflex-container-50vh">
            <div class="bg-UI sliderflex-cards-50vh grid-60-40-col flex-ccc">
                <h1>University of Indonesia</h1>
                <img src="{% static 'img/UICard.png' %}" class="grid-img-w flex-lcc margin-1em shd-4">
            </div>
            <div class="bg-Smansa sliderflex-cards-50vh grid-60-40-col flex-ccc">
                <h1>SMAN 1 Bogor</h1>
                <img src="{% static 'img/SmansaCard.png' %}" class="grid-img-w flex-lcc margin-1em shd-4">
            </div>
            <div style="height:50vh">
                <span class="margin-1em"></span>
            </div>
        </div>
    </section>

    <section class="container-90vh-fixed-nomargin bg-wheat ">
        <div class="slider-text-50vh flex-ccc">
            <h1 class="margin-1em">Get to Know My Friends</h1>
        </div>
        <div class="flex-ccc">
            <form class="">
                <input class="search-semirounded flex-ccc" type="search" placeholder="Looking for someone?" aria-label="Search" name='search' value="{{search_term}}">
                <button id="submit-search" type="submit"></button>
            </form>
        </div>
        <div class="container-60vh-fixed">
            <form class="flexrow-cccl" method="post">
                {% csrf_token %} {% for friend in ordered_flist %}
                <div class="flexible-cards bg-white margin-1em padding-1em">
                    <br>
                    <h3>{{friend.Name}}</h3><br>
                    <span style="font-size: 0.7em; color: rgba(0,0,0,0.7)">Hobby: </span><br> {{friend.Hobby}}<br><br>
                    <span style="font-size: 0.7em; color: rgba(0,0,0,0.7)">Favorite Food and Drink: </span><br> {{friend.Favorite}}<br><br>
                    <span style="font-size: 0.7em; color: rgba(0,0,0,0.7)">Class Year: </span><br> {{friend.Year}}<br><br>
                    <span style="font-size: 0.7em; color: rgba(0,0,0,0.7)">Hobby: </span><br> {{friend.Hobby}}<br><br>
                    <br>
                    <br>
                </div>
                {% endfor %}
            </form>
        </div>
        <div class="slider-text-50vh flex-ccc">
            <a class="cta-green margin-1em" href="addfriends">Join them</a>
        </div>
    </section>
    <!-- Footer -->
    {% include 'snippets/footer.html' %}
</body>

</html>