{% load static %}

<header>
    <nav class="Navbar">
        <img alt="" src="{% static 'img/HazEyesSimple (White).svg' %}" class="NavbarLogo">
        <ul class="NavbarPages">
            <li>
                {% for link,name in nav%}
                <a href="{{link}}">{{name}}</a> {% endfor %}
            </li>

        </ul>
    </nav>
</header>