{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Haz Lazuardi</title>
    {%include 'snippets/style.html'%}
</head>


<body>
    <!-- Navbar -->
    {% include 'snippets/navbar.html'%}

    <!-- Hero -->
    <section class="grid-autofit-la">
        <div class="bg-black grid-block-100vh-img flex-ccc ">
            <img src="{% static 'img/hero-img.jpg'%}" class="grid-img">
        </div>
        <div class="bg-black grid-block-100vh-text headline-l flex-ccc" style="text-align: left;">
            <div>
                <h1 class="margin-1em">I Create <span style="color: gold;">Thoughtful</span> Masterpieces</h1>
                <a class=" margin-2em cta-outline-white">My Work</a>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
    </section>

    <!-- Photography -->
    <section class="grid-autofit-la">
        <div class="bg-white grid-block-50vh-text flex-ccc grid-row-2">
            <div class="headline-l margin-2em">
                <p>I do
                    <br>
                    <h1 style="color: red; font-size:3em">Photography</h1>
                    <br>I’ve been a freelance photographer for years.
                </p>
                <br>
                <br>
                <a class="cta-outline-red">See more</a>

            </div>
        </div>
        <div class="bg-coldgrey grid-block-50vh-img flex-ccc">
            <img src="{% static 'img/Photography/Waiting (1 of 1).JPG'%}" class="grid-img">
        </div>
    </section>


    <!-- Filmmaking -->
    <section class="grid-autofit-la">
        <div class="bg-red grid-block-50vh-img flex-ccc">
            <img src="{% static 'img/filmmaking-omong.png' %}" class="grid-img">

        </div>
        <div class="bg-red grid-block-50vh-text flex-ccc">
            <div class="headline-l margin-2em">
                <p>As well as
                    <br>
                    <h1 style="color: #1c1d24; font-size:3em">Filmmaking</h1>
                    <br>I’ve won a national-level short movie award. My works have also been seen for more than 1,4 million minutes on Youtube.</p>
                <br>
                </p>
                <br>
                <a class="cta-outline-white">See more</a>

            </div>
        </div>
    </section>


    <!-- See more -->
    <section class="content-container-50vh">
        <div class="bg-wheat flex-ccc">
            <h1 style="font-size: 2em;">See More</h1>
        </div>
        <div class="bg-wheat sliderflex-container-50vh">
            <div id="slider-photo" class="sliderflex-cards-50vh bg-red flex-lbl">
                <h2 class="flex-lbl">Photography</h2>
                <!-- <img src="img/card-photo.png" alt="" class="grid-img"> -->
            </div>
            <div id="slider-film" class="sliderflex-cards-50vh bg-red flex-lbl">
                <h2 class="flex-lbl">Filmmaking</h2>
                <!-- <img src="img/card-photo.png" alt="" class="grid-img"> -->
            </div>
            <div id="slider-prog" class="sliderflex-cards-50vh bg-red flex-lbl">
                <h2 class="flex-lbl">Programming</h2>
                <!-- <img src="img/card-photo.png" alt="" class="grid-img"> -->
            </div>
            <div style="height:50vh">
                <span class="margin-1em"></span>
            </div>


        </div>
    </section>


    <!-- Footer -->
    {% include 'snippets/footer.html' %}

</body>

</html>